.report-launch-button {
	border: none;
	background: none;
	cursor: pointer;
	box-sizing: border-box;
	text-transform: none;
	vertical-align: middle;
	display: inline-block;
	color: var(--tertiary-grey);
	line-height: initial;
	padding: initial;
}

@media (hover: hover) {
	.report-launch-button:hover {
		color: var(--primary-blue);
		background: none;
	}
}
