@import '~@nti/style-common';

.report-viewer-header {
	background: white;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--border-grey)-light;
	padding: 0.5625rem 0.5rem;


	.back-container {
		flex: 0 0 1.5rem;
		margin-right: 0.5rem;

		i.back {
			color: var(--primary-blue);
			flex: 0 0 auto;
			cursor: pointer;
			font-size: 1.5rem;
			transform: rotate(-90deg);
			display: block;
		}
	}


	.title {
		flex: 1 1 auto;
		font: normal 300 1.5rem/1.25 $body-font-family;
		color: var(--primary-grey);
	}

	.download {
		flex: 0 0 auto;
		text-decoration: none;
		color: var(--primary-blue);
		display: block;
		margin-right: 1rem;
		cursor: pointer;

		i {
			font-size: 0.875rem;
			vertical-align: middle;
			margin-right: 7px;
		}

		span {
			font-size: 0.625rem;
			font-weight: 700;
			text-transform: uppercase;
			vertical-align: middle;
		}
	}

	i.dismiss {
		flex: 0 0 auto;
		font-size: 1.5rem;
		line-height: 2rem;
		cursor: pointer;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}
}

.nti-reports-view-header-download {
	a {
		display: block;
		text-decoration: none;
		color: var(--primary-blue);
		cursor: pointer;
		margin: 0.5rem 1rem;
	}
}
