@import '~@nti/style-common';

.course-instance-forums-topic-list-context {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.back-to-forums {
		color: var(--primary-blue);
		margin-bottom: 1rem;
	}

	.load-more {
		background-color: var(--primary-blue);
		color: white;
		text-align: center;
		padding: 0.5rem 0;
		cursor: pointer;
	}
}
