@import '~@nti/style-common';

.admin-labeled-value {
	padding: 0.5rem;
	color: var(--primary-grey);

	.label {
		text-transform: uppercase;
		font: normal 700 0.625rem/1 $body-font-family;
	}

	.value {
		text-align: right;
		font: normal 300 2rem/1.2 $body-font-family;
		padding-top: 2rem;
	}
}
