@import '~@nti/style-common';

.load-more-button {
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 0.5rem;
	background-color: var(--primary-blue);
	color: white;
	font-size: 0.875rem;
	line-height: rem-calc(40px);
	min-height: rem-calc(40px);
}
