@import '~@nti/style-common';

.dashboard-list-widget.statistics {
	width: 250px;
	height: 320px;
	margin: 0;
	padding: 0.5rem;
	box-shadow: 0 1px 2px 1px #ccc;
	color: var(--primary-grey);

	.labeled-value {
		.label {
			text-transform: uppercase;
			font: normal 700 0.625rem/1 var(--body-font-family);
		}

		.value {
			padding-bottom: 1rem;
			text-align: right;
			font: normal 300 2rem/1.2 var(--body-font-family);
		}
	}

	.progress {
		padding-bottom: 1rem;
		padding-top: 0.5rem;
		width: 100px;
		margin: 0 auto;

		.circular-progress {
			.value {
				top: 30px !important;
			}
		}
	}
}
