@import '~nti-style-common';

.report-list-item {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 1rem 2rem;

	.meta {
		flex: 1 1 auto;

		.labels {
			display: flex;
			align-items: center;

			.title {
				font: normal 400 1.25rem/1.25 $body-font-family;
				flex: 0 0 auto;
				margin-right: 0.5rem;
				color: $primary-blue;
			}

			.supports {
				flex: 0 0 auto;

				.type {
					font: normal 700 0.625rem/1.25 $body-font-family;
					text-transform: uppercase;
				}
			}
		}

		.description {
			font: normal 400 0.875rem/1.25 $body-font-family;
			color: $secondary-grey;
		}
	}

	.actions {
		flex: 0 0 auto;
		color: $primary-blue;
	}
}
