@import '~nti-style-common';

.reports-list-view {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;

			&:not(:last-of-type)::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 1rem;
				right: 1rem;
				height: 1px;
				background-color: $border-grey;
			}
		}
	}
}
